<header>
    <nav class="header-nav">
        <a class="header-title" href="/">My Library</a>
      
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/books">Books</a></li>
            <% if (isAuthenticated && user.role == 'admin') { %>
            <li><a href="/authors/new">Add Author</a></li>
            <li><a href="/books/new">Add Book</a></li>
            <% } %>     
        </ul>
        <% if (isAuthenticated) { %>
            <div class="user-name"> 
                <p class="lead mb-3">Welcome ~~ <%= user.name %></p> 
                <li><a href="/users/logout" class="btn btn-secondary">Logout</a></li>       
            </div>
            <% } %>
    </nav>

</header>