<p class="lead mb-3">Welcome <%= name %></p>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

<h2 class="page-header">Resently Added Books</h2>
<%- include('./partials/bookGrid', { books: books, large: true}) %>